<h2 class="center container"> Home </h2>
<br>
<input type="text" [(ngModel)]="filterText" placeholder="Filter by Author or Text" (input)="applyFilter()">
<br>
<br>

<section itemSize="100">
  <div *ngFor="let item of filteredData; let i = index">
    <img [src]="item.photo" alt="Image" class="image" />
    <div class="details">
      <p><strong>Author:</strong> {{ item.author }}</p>
      <p><strong>Text:</strong> {{ item.text }}</p>
      <button (click)="toggleFavorite(item.id)">
        {{ favorites.includes(item.id) ? 'Remove from Favorites' : 'Add to Favorites' }}
      </button>
    </div>
    <br>
    <br>
  </div>
</section>

<button (click)="viewFavorites()">View Favorites</button>

<router-outlet></router-outlet>
